$mainColor:#19131b;
$mainColor_darker: #130f15;
$mainColor_light: #271d2b;
$mainColor_lighter: #2e2233;
$mainColor_lightest: #3c2843;
$mainColor_gradient:linear-gradient(130deg, rgba(24,19,25,1) 0%, rgba(21,11,28,1) 46%, rgba(59,40,14,1) 87%);

$yellowColor: #9e8e46;
$yellowColor_darker: #130f15;
$yellowColor_light: #271d2b;
$yellowColor_lighter: #2e2233;
$yellowColor_lightest: #3c2843;

$blueColor:#2eb4cc;
$mainColor_darker: #130f15;
$mainColor_light: #271d2b;
$mainColor_lighter: #2e2233;
$mainColor_lightest: #3c2843;

$redColor:#dc2b60;
