@import "../../app/Styles/mixins";
@import "/src/app/Styles/colors";

.aboutUs{

  @include defaultElem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  //margin-bottom: 30px;
  @media (max-width: 700px) {
    padding: 15px;

  }
  h1{
    font-size: 22px;
    @media (max-width: 700px) {
      font-size: 18px;

    }
  }
  &_listContainer{
    background-color: $mainColor_light;
    box-shadow: 5px 5px 8px 5px rgb(22, 20, 27);
    padding: 10px 10px 30px 10px;

  }
  &_titleList{
    //margin: auto;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: $mainColor_lighter;
    box-shadow: 3px 3px 3px 3px rgba(25, 23, 30, 0.8);
    //text-align: center;
  }
  &_descList{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    div{
      width: 60%;
      margin: 20px auto auto;
      display: flex;
      flex-direction: column;
      @media (max-width: 700px) {
        width: 100%;
        margin-top: 15px;

      }
      &:after{
        //position: absolute;
        content: " ";
        width: 80%;
        border-radius: 4px;
        margin: 20px auto;
        height: 2px;
        background-color: white;
      }
    }
    //span{
    //  margin-top: 20px;
    //
    //}
  }
}