//@include
.fileList {
  padding: 10px;
  margin: 10px;
  width: 100%;
  @media (max-width: 500px) {
    padding: 0;
    margin: 0;
  }

  &_FirstBlock {
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    grid-template-columns: 70% 30%;

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column-reverse;

    }
  }
  &_List {

    display: flex;
    margin-top: 10px;
    // gap: "5px",
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 500px) {
      justify-content: center;


    }
  }
}
