.page{
    &_container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin: 30px auto;
      @media (max-width: 600px) {
        h1{
          font-size: 24px;
        }
        h2{
          font-size: 20px;
        }
        h3{
          font-size: 16px;
        }
        grid-template-columns: 1fr;
        gap: 20px;
      }

    }
  &_blockContainer  {
    display: flex;
    margin: auto 24px auto auto;
    //background-color: #2a1b3e;
    justify-content: space-between;
    @media (max-width: 600px) {
      //flex-direction: column;
    }
    &_elem{
      margin: 3px;
      width: 33%;
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background-color: #181723;
      color: #d4d4d4;
      box-shadow: 3px 3px 15px 2px rgba(41, 41, 41, 0.75);
      @media (max-width: 600px) {
        font-size: 12px;
        padding: 5px;
        h3{
          font-size: 14px;
        }

      }


      h3{
        margin-bottom: 5px;
        color: white;
      }
    }
  }
}