.image{
  overflow: hidden;
  transition-duration: .3s;
  transform: scale(1.0);
  //border-radius: 15px;

  &_title{
    opacity: 0%;
    visibility: hidden;
    transition-duration: .3s;
  }
  &_img{
    transition-duration: .3s;

  }
  &_img__active{
    transform: scale(100%);
    transition-duration: .4s;

  }
  &_img__inactive{
    transform: scale(0%);
    transition-duration: .4s;
  }
  &:hover{
    img{
    transition-duration: .3s;
    transform: scale(1.1);
    }
    .image_title{
      opacity: 100%;
      visibility: visible;
      transition-duration: .3s;
      background-color: rgba(21, 21, 21, 0.3);

    }
  }
}